<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
            <title>Validation output</title>
        </head>
    <body>
        <h1>Validation output</h1>
        <p>
            Assembly stats: <a href="{asmtsv}">{asmtsv}</a><br />
            Genome contig coverage stats: <a href="{gcctsv}">{gcctsv}</a><br />
            Contig purity: <a href="{cptsv}">{cptsv}</a><br />
        </p>
        <h2>Genome contig coverage</h2>
        <p>
            <img src="{plotgc1}" />
            <img src="{plotgc2}" />
            <img src="{plotgc3}" />
        </p>
        <h2>Contig purity</h2>
        <p>
            <img src="{plotcp1}" />
            <img src="{plotcp2}" />
            <img src="{plotcp3}" />
            <img src="{plotcp4}" />
            <img src="{plotcp5}" />
            <img src="{plotcp6}" />
            <img src="{plotcp7}" />
            <img src="{plotcp8}" />
            <img src="{plotcp9}" />
            <img src="{plotcp10}" />
            <img src="{plotcp11}" />
        </p>
    </body>
</html>
